.new-user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-user-container h1 {
  font-size: 25px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.new-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 25px;
}

.center-my-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.second-new-user-name {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.login-container-better h1 {
  font-size: 25px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.login-container-better {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  justify-content: center;
}

.login-inputs {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-email-city-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.second-new-user-email {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.stripe-dob-year {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-city {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-state-zip-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.second-new-user-state {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-zipcode {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-password-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.second-new-user-password {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-password-conf {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-pro-talents-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.second-new-user-profession {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-skills {
  width: 49%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-about {
  display: flex;
  width: 100%;
  height: 100px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-social-media-container {
  display:flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.new-user-social-media-text {
  margin-bottom: 5px;
}

.second-new-user-facebook {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-instagram {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-youtube {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-twitter {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.second-new-user-pinterest {
  width: 100%;
  height: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  font: normal normal normal 12px/1.4em lulo-clean-w01-one-bold,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  padding: 3px;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-indent: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 3px;
    max-width: 100%;
    -webkit-box-flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
  }
}

.new-user-margin-right-label {
  // margin-right: 45px;
  min-width: 200px;
  width: 200px;
}

.login-signup-container {
  display: flex;
  width: 500px;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
}

.login-white:hover {
  color: white !important;
}

.login-signup-text {
  width: 150px;
}

.login-signup-center {
  width: 150px;
}

.reset-pass-btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: none;
  margin-top: 30px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.social-media-outer-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-right-container {
  width: 50%;
}

.social-media-left-container {
  background: #f7c4bc;
  width: 48%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 375px;
  border-radius: 5px;
}

.set-width-50 {
  width: 100%;
}

.social-inner-image {
  height: 10%;
  width: 10%;
  max-height: 10%;
  max-width: 10%;
  object-fit: contain;
}

.social-inner-container {
  display:flex;
  justify-content: center;
}

.social-image-text {
  font-size: 1.4em;
  text-align: center;
  margin-top: 5%;
}

.social-inner-text {
  width: 75%;
  margin-right: 5%;
  margin-left: 2%;
}

.bottom-social-inner-container {
  margin-bottom: 5%;
  display:flex;
  justify-content: center;
}

.agreement-links {
  display: flex;
  flex-direction: column;
}

.terms-conditions-link {
  margin-bottom: 2px;
}

.privacy-agreement-link {
  margin-bottom: 5px;
}
