.second-show-activities-header {
  font-size: 25px;
  font-weight: bold;
  // margin-top: 15px;
  display: flex;
  margin-bottom: 25px;
}

.second-show-activities-mid-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 15px;
}

.second-show-activities-mid-right-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
}

.activity-show-img {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  min-width: 400px;
  width: 400px;
  max-width: 400px;
  &:hover {
    cursor: zoom-in;
  }
}

.second-show-activities-mid-left-container {
  flex: 1;
  margin-left: 25px;
  margin-right: 25px;
}

.second-activities-show-by {
  font-size: 16px;
  display:flex;
}

.boldy-by {
  margin-right: 5px;
  font-weight: bold;
}

.second-activities-show-cost {
  font-size: 16px;
  margin-top: 15px;
  display: flex;
}

.second-activities-show-about {
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
}

.second-activities-show-about-text {
  margin-top: 5px;
}

.second-show-activities-lower-mid-container{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 25px;
}

.google-maps-container {
  width: 70%;
  margin-top: 60px;
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 400px;
}

.second-show-activities-where-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  width: 30%;
  min-height: 175px;
  box-shadow: 5px 20px 30px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.make-me-pretty:hover {
  text-decoration: underline !important;
}

.second-show-activities-where-text {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  // margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  // margin-top: 15px;
}

.second-show-activities-city-only {
  margin-top: 15px;
  font-size: 16px;
}

.service-travel-options {
  text-align: center;
}

.second-show-activities-when-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  min-height: 175px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  width: 30%;
  box-shadow: 5px 20px 30px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.second-show-activities-when-text {
  // margin-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

}

.second-show-activities-date {
  margin-bottom: 7.5px;
}

.second-show-activities-bring-container {
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  width: 30%;
  min-height: 175px;
  // height: 75px;
  box-shadow: 5px 20px 30px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.second-show-activitites-bring {
  text-align: center;
}

.second-show-activitites-bring-text {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
  // text-align: center;
  margin-bottom: 30px;
}

.second-show-activities-spots-container {
  display: flex;
  align-items: center;
  width: 515px;
  justify-content: center;
  margin-top: 15px;
}

.second-image-activity-card-container {
  position: relative;
  max-width: 400px;
  height: 100%;
}

.second-show-image-activity-card {
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  min-width: 400px;
  max-width: 400px;
  object-fit: cover;
  width: 400px;
  transition: 1s;
  cursor: zoom-in;
}

.second-right-arrow {
  opacity: 0;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  color: #FFF;
  margin-left: 350px;
  font-weight: bold;
  transition: opacity 0.75s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.second-arrows-holder {
  position: absolute;
  width: 100%;
  transform: translateY(calc(100% + 150px));
}

.second-left-arrow {
  opacity: 0;
  font-size: 25px;
  margin-left: 28px;
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  transition: 0.75s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

// .second-image-activity-card-container {
//   position: relative;
//   max-width: 400px;
//   height: 100%;
// }

.space-holder {
  width: 95px;
}

.second-show-activity-capacity {
  font-size: 16px;
  width: 95px;
  text-align: center;
}

.second-activity-ticket {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: black;
  transition: 1s;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border: solid rgba(255, 255, 255, 1) 0;
  border-radius: 10px 10px 10px 10px;
  border: solid rgba(255, 255, 255, 1) 0;
  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.show-activities-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.show-top-activity-card {
  display: flex;
  height: 80%;
}

.left-activity-details-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.show-activity-card-price {
  font-weight: bold;
  margin-bottom: 15px;
}

.right-activity-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.show-activities-card-container {
  margin-top: 25px;
  width: 1000px;
  height: 600px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  border: 1px solid lightgray;
  flex-direction: column;
  box-shadow: 0;
  // transform: scale(0.95);
  // transition: box-shadow 0.5s, transform 0.5s;
  // &:hover{
  //   transform: scale(1);
    // box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  // }
}

.show-image-activity-card {
  max-width: 500px;
  height: 100%;
  object-fit: cover;
  width: 500px;
  transition: 1s;
  cursor: zoom-in;
}

.right-arrow {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  color: #FFF;
  margin-left: 85%;
  font-weight: bold;
  transition: opacity 0.75s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.arrows-holder {
  position: absolute;
  width: 100%;
  transform: translateY(calc(100% + 100px));
}

.left-arrow {
  opacity: 0;
  font-size: 25px;
  margin-left: 15%;
  position: absolute;
  color: #FFF;
  font-weight: bold;
  transition: 0.75s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

.image-activity-card-container {
  position: relative;
  max-width: 500px;
  height: 100%;
}

.show-top-activity-card:hover {
  cursor: pointer;
}

.show-info-activity-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  border-bottom: 1px solid lightgray;
}

.show-activity-capacity {
  // margin-bottom: 10px;
  color: red;
  margin-right: 10px;
  font-size: 16px;
  display: flex;
  // align-self: flex-end;
}

.show-activity-card-user:hover {
  cursor: pointer;
}

.show-activity-card-name {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.show-top-margin {
  margin-top: 5px;
}

.show-activity-details-container {
  height: 50%;
  display: flex;
  font-size: 16px;
  // flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.show-bottom-activity-card {
  display: flex;
  width: 100%;
  margin-top: 20px;
  // height: 20%;
}

.show-activity-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 25px;
  height: 100%;
  width: 50%;
  // border-left: 1px solid lightgray;
  // border-bottom: 1px solid lightgray;
}

.show-activity-ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.show-activity-ratings-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100%;
}

.show-activity-stars-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
}

.show-activity-star {
  margin-left: 5px;
}

.show-activity-ratings-comment {
  margin-left: 5px;
}

.show-activity-number-ratings {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 15px;
  font-size: 16px;
}

.show-activity-number-ratings a:hover {
  text-decoration: underline;
}

.show-activity-number-ratings a{
  color: blue;
}

.show-activity-right {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-right: 1px solid lightgray;
  // border-bottom: 1px solid lightgray;
  width: 50%;
  margin-top: 15px;
}

.show-rental-right {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-right: 1px solid lightgray;
  // border-bottom: 1px solid lightgray;
  width: 100%;
  margin-top: 15px;
}

.activity-ticket {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background: green;
}

.activity-ticket:hover {
  cursor:pointer;
}

.show-activity-category {
  border-radius: 40%;
  border: 1px solid lightgray;
  padding-left: 15px;
  padding-right: 15px;
}

.show-activity-category:hover {
  border: 1px solid lightblue;
  cursor: pointer;
}

.show-activity-tag-title {
  margin-bottom: 5px;
}

.about-activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 45px;
  margin-top: 50px;
}

.about-activity-show-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.about-activity-content-show {
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

.share-with-friends {
  margin-bottom: 5px;
  font-weight: bold;
}

.social-share-buttons {
  // padding-left: 10px;
  // margin-top: 30px;
  // margin-left: 25px;
}

.ssb-icon {
    background-size: 35px 35px !important;
    display: block !important;
    height: 35px !important;
    width: 35px !important;
    margin-top: 15px !important;
}

.show-activity-ratings-container {
  display: flex;
  align-self: flex-start;
  width: 50%;
  justify-content: center;
}

.show-activity-rating-content {
  margin-top: 10px;
  // text-indent: 15px;
  width: 80%;
  // text-align: center;
  margin-left: 15px;
}

.show-activity-number-ratings {
  font-weight: bold;
}

.show-activity-ratings-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  justify-content: center;
}

.activity-show-user-rating {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: normal;
}

.pad-left-username {
  padding-left: 5px;
}

.activity-show-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  width: 80%;
}

.image-div {
  display: none;
  margin-top: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-show-bottom-images {
  display: none;
  max-width: 300px;
  max-height: 300px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.attendees-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px solid black;
  padding: 5px;

}

.attendees-text {
  font-size: 25px;
  font-weight: bold;
}

.attendees-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.more-images-text {
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-top: 2px solid black
}

.attendees-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: 25px;
}

.attendee-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
