.create-stripe-accnt-form-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.create-stripe-account-form {
  margin-top: 40px;
}

.create-stripe-new-text {
  font-size: 25px;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.stripe-terms-and-conditions {
  margin-right: 25px;
}

.stripe-terms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  margin-right: 25px;
  flex-wrap: wrap;
  width: 200px;
  text-align: center;
}

.stripe-acct-fullDetails-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-stripe-account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.create-stripe-account-form label{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.create-stripe-account-form label div {
  margin-bottom: 5px;
}

.center-everything-stripe {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-stripe-account-form input {
  margin-bottom: 5px;
  height: 35px;
  border-radius: 4px;
  width: 100%;
  text-indent: 5px;
}

.create-stripe-account-form select {
  margin-bottom: 5px;
  height: 35px;
  border-radius: 4px;
  width: 100%;
  text-indent: 5px;
}





#stripe-acct-details-submit {
  background: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  color: #fff;
  border-radius: 19px;
  height: 45px;
  margin-top: 10px;
  width: 90%;
}

#get-you-paid-submit {
  background: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  color: #fff;
  border-radius: 19px;
  height: 45px;
  margin-top: 40px;
  width: 25%;
  &:hover {
    cursor: pointer;
  }
}

.stripe-details-text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}

.stripe-image {
  margin-bottom: 50px;
}

.stripe-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#link-to-stripe {
  color: rgb(51, 134, 238);
  font-weight: 300;
}
#link-to-stripe:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 200;
}
