.stripe-acct-container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
}

.stripe-acct-text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.stripe-acct-inner-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  border-radius: 4px;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(232, 232, 232, 1);
  box-sizing: border-box;
  border-style: solid;
  min-height: 400px;
}

.acct-number-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.routing-number-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.new-stripe-account-how-to-container {
  width: 80%;
  display:flex;
  text-align: center;
  text-overflow: ellipsis;
  // box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.08);
  // border-radius: 4px;
  // border-width: 2px;
  // background-color: rgba(255, 255, 255, 1);
  // border-color: rgba(232, 232, 232, 1);
  // box-sizing: border-box;
  // border-style: solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.delete-stripe-acct-btn {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.get-started-stripe-text {
  width: 60%;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
}

.get-started-stripe:hover {
  cursor: pointer;
  color: white !important;
}
